
<div class="card text-center">
    <div class="card-body">
        <h1 class="card-title">About Us</h1>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

        </br>

        <div class="row">
            <div class="card mb-3" style="max-width: 540px;">
                
                    <div class="col-md-8">
                        <%= image_tag '24px.svg', :class=>"card-img-top", :alt=>"Check Mark" %>  
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Garden Notes</h5>
                                <p class="card-text">All of your garden reminders and notes in one convenient spot.</p>
                        </div>
                    </div>
                
            </div>

            
            <div class="card mb-3" style="max-width: 540px;">
                
                    <div class="col-md-8">
                        <%= image_tag '24px.svg', :class=>"card-img-top", :alt=>"Check Mark" %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Plant Inventory</h5>
                                <p class="card-text">Ability to add pictures and notes about specific plants in your collection.</p>
                        </div>
                    </div>
                
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                
                    <div class="col-md-8">
                        <%= image_tag '24px.svg', :class=>"card-img-top", :alt=>"Check Mark" %> 
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Reminders</h5>
                                <p class="card-text">Schedule tasks and reminders for tomorrow, next week, or next year.</p>
                        </div>
                    </div>
                
            </div>
        </div>       
    </div>
</div>