<div class="card" >
  
    <div class="card-header">
        <h3>Blog Title</h3>
        <h6 class="card-subtitle mb-2 text-muted">Byline</h6> 
        <h6 class="card-subtitle mb-2 text-muted">Date</h6>        
    </div>
    <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Full Article</a>
    
  </div>
</div>

</br>

<div class="card" >
  
    <div class="card-header">
        <h3>Blog Title</h3>
        <h6 class="card-subtitle mb-2 text-muted">Byline</h6> 
        <h6 class="card-subtitle mb-2 text-muted">Date</h6>        
    </div>
    <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Full Article</a>
    
  </div>
</div>

</br>

<div class="card" >
  
    <div class="card-header">
        <h3>Blog Title</h3>
        <h6 class="card-subtitle mb-2 text-muted">Byline</h6> 
        <h6 class="card-subtitle mb-2 text-muted">Date</h6>        
    </div>
    <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Full Article</a>
    
  </div>
</div>
