<div class="card text-center"> 
    </br>
    </br>
    <div class="card-body">
        <h1 class="card-title">Contact Us</h1>
        <%# <%= image_tag 'garden3.jpg', :class=>"card-img-top", :alt=>"Rose Campion and Red Hot Poker" %>  
        
        <form>
            <div class="form-group">
            </br>
                <label for="exampleFormControlTextarea1">Please write your message to us below.</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Type your message here...</textarea>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
            </div>
        </form>
        </br>
        <a href="#" class="btn btn-success">Send Message</a>
        </br>
        
    </div>
</div>
